<div id="wrapper" class="margin-default">
    <div id="processed_word_text" class="padding-default"
        (mouseover)="mouseOverProcessedWord=true;"
        (mouseout)="mouseOverProcessedWord=false;"
        [ngStyle]="{'background-color': bgColor, 'color': fgColor}">

        <ng-container *ngIf="type == 'original'; then original; else processed"></ng-container>

        <ng-template #original>
            <p>{{processedWord.original}}</p>
        </ng-template>

        <ng-template #processed>
            <p>{{processedWord.solution}}</p>
        </ng-template>
    </div>

    <div id="processed_word_tokens" 
        (mouseover)="mouseOverProcessedWord=true;"
        (mouseout)="mouseOverProcessedWord=false;"
        [ngClass]="{'show': mouseOverProcessedWord, 'hide':!mouseOverProcessedWord }" *ngIf="type=='processed'">

        <div *ngFor="let processedToken of processedWord.tokens">
            <processed-token [processedToken]="processedToken"></processed-token>
        </div>
    </div>

</div>